body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/203/original/bodyWallpaper.jpg?1721814743");
  background-size: cover;
  font-family: "Nunito", sans-serif;
}
.App {
  background-color: #c6e7ee;
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.05);
  border-radius: 15px;
}
header {
  border-bottom: 2px solid #acdee7;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #7ed4e7;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.search-form-button {
  background-color: #00a7c9;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 19%;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
